h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1.5rem;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:bold;
    color:gray;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size:2rem;
    font-weight: bold;
}

h3 span {
    background-color: gray;
    padding:15px;
    position:absolute;
    bottom:0;
}

a {
    color: gray;
}

.nav-link {
    color: gray;
    font-size:1.4rem;
    float:right;
}

body {
    color:darkslategray;
}


.nav-masthead .active {
    color:darkslategray;

}

.img {
    float:left;
    margin:5px;
    z-index:1;
}


.inner .cover {
    background-color:lightgray;
}

.cover-container {
    max-width:960px;
    margin-top:5rem;
}

hr {
    border-top: 1pt solid rgba(0, 0, 0, 1);
}

p {
    text-shadow: none; 
    color:#233333;
    text-align:justify;
}

body {
    background-image: url(../images/cartographer_@2X.png)
}

.masthead {
    width:100%;
    position:fixed;
    top:0;
    z-index: 3;
}

.inner {
    max-width:60rem;
    margin: 0 auto 0 auto;
}

.text-image {
    z-index:2;
    position: relative;
    color:white;
    bottom: 40px;
}

.text-image span {
    display:inline-block;
    background-color:darkslategray;
    text-align:center;
    width:200px;
    margin-left:5px;
}   

@media (max-width: 570px) {
    .masthead-brand span{font-size: .8em;}
    .nav-link{font-size: 1em;}
    html body{height:auto; width:auto}
    .inner .cover{width:auto;}
    .img{width:50%}
    .text-image span {width:50%; margin-left:0px}
}

@media (max-width: 450px) {
    .masthead-brand span{font-size: .6em;}
    .nav-link{font-size: .8em;}
    html body{height:auto; width:auto}
    .inner .cover{width:auto;}
    .img{width:50%; margin: .5px;}
    .text-image span {width:50%; margin-left:0px;}
}