h1 {
    font-family: 'Lato', sans-serif;
    font-size:28pt;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:900;
    color:black;
}

h1.cover-heading.mt-2{
    font-variant: small-caps;
}

h3 {
    color: forestgreen;
    font-size:2.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif

}

h3 span {
    background-color: black;
    padding:15px;
    position:absolute;
    bottom:0;
    font-variant: small-caps;

}


a.nav-link {
    font-size:1.4rem;
    float:right;
}

body {
    color:darkslategray;
    font-family: 'Roboto', sans-serif;

}


.nav-masthead .active {
    color:black;
    text-shadow: 1pt 1pt 1pt forestgreen;
}

.img {
    float:left;
    margin:5px;
    z-index:1;
}


.inner .cover {
    background-color:lightgray;
}

.cover-container {
    max-width:960px;
    margin-top:5rem;
    position:relative;
    box-shadow: -2pt 2pt 1pt black;
}

hr {
    border-top: 1pt solid rgba(0, 0, 0, 1);
}

p {
    text-shadow: none; 
    color:#233333;
    text-align:justify;
}

body {
    background-image: radial-gradient(ellipse at center, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
}

.masthead {
    width:100%;
    position:fixed;
    top:0;
    z-index: 3;
    box-shadow: -2pt 2pt 1pt black;

}

.inner {
    max-width:60rem;
    margin: 0 auto 0 auto;
}

.text-image {
    z-index:2;
    position: relative;
    color:white;
    bottom: 40px;
}

.text-image span {
    display:inline-block;
    background-color:black;
    text-align:center;
    width:200px;
    margin-left:5px;
}   

.emptybox::placeholder{
    color:black;
    font-weight:600;
}

.splashqual h2{
    font-family: "Lato", sans-serif !important;
    margin-top:5rem;
    color:black;
    text-shadow:none;
    font-weight:bold;
}

.tab-container{
    position: absolute;
    right:0;
    top:-5rem;
}

.tab-container a{
    color:black;
}

.tab-container a:hover{
    text-decoration: none;
}

.tab{
    background: url(../images/taborig.png) no-repeat;
    background-size:cover;
    text-align:center;
    background-position: center;
    color:black;
    display: block;
    min-width: 181px;
    height: auto;
    font-family: 'Oswald', sans-serif;
    font-weight:900;
    cursor: pointer;
    float:right;
    text-shadow: -1pt 1pt 1pt white, -2pt 2pt 1pt black;
    font-variant:small-caps;
    transition: transform 0.1s linear;
    margin-right: 1rem;
    margin-top: 2rem;
    position:relative;
    float:right;
    z-index:999;
}

.tab:hover{
    transform: rotate(7deg);
}

.tab span{
    display:block;
    transform: rotate(-7deg);
}
.moretext span {
    padding: 1.5rem 0rem 2rem 0rem;
    font-size: 18pt;
}

a{
    color:black
}

a:hover{
    color:forestgreen;
    text-decoration: none;
}

@media (max-width: 570px) {
    .masthead-brand span{font-size: .8em;}
    a.nav-link{font-size: 1em;}
    html body{height:auto; width:auto}
    .inner .cover{width:auto;}
    .img{width:50%}
    .text-image span {width:50%; margin-left:0px}
    .tab{height: auto; background-size: auto; float:none; background: url(../images/tab.png) no-repeat;}
    .tab span{font-size: 18pt; padding: 1.5rem 1rem 2rem 1rem; margin-right: 0rem;}

}

@media (max-width: 450px) {
    .masthead-brand span{font-size: .6em;}
    a.nav-link{font-size: .8em;}
    html body{height:auto; width:auto}
    .inner .cover{width:auto;}
    .img{width:50%; margin: .5px;}
    .text-image span {width:50%; margin-left:0px;}
    .tab{height: auto;}
    .tab span{font-size: 18pt;}
}